.edit-profile__popup {
  min-height:370px;
  max-width:470px;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:fixed;
  bottom:195px;
  top:195px;
  margin:auto;
}
@media screen and (max-width:500px) {
  .edit-profile__popup {
    top:123px;
  }
}