.profile__subtitle {
  margin:0;
  margin-top:16px;
  font-size:18px;
  line-height:21.78px;
  font-weight:400;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  max-width:282px;
}
@media screen and (max-width:500px) {
  .profile__subtitle {
    margin-top:14px;
    margin-bottom:36px;
    line-height:16.94px;
    font-size:14px;
    font-weight:400;
    text-align:center;
  }
}