.popup__form {
  width:100%;
  max-width:430px;
  display:flex;
  flex-direction:column;
  padding:34px 36px 36px;
  justify-content:space-between;
  background-color:white;
  box-sizing:border-box;
  border-radius:2%;
  margin-left:20px;
  margin-right:20px;
}
@media screen and (max-width: 500px) {
  .popup__form {
      padding:25px 22px;
      max-width:282px;  
  }
}
