.edit-profile {
  box-sizing:border-box;
  border-radius:2%;
  background-color:rgba(0, 0, 0, 0.5);
  top:0;
  left:0;
  position:absolute;
  height:100%;
  width:100%;
  max-width:1280px;
  display:none;
  align-items:center;
  justify-content:center;
}
