.edit-profile__close-btn {
  align-self:flex-end;
  padding:0;
  border:none;
  background-color:transparent;
  transform:rotate(-45deg);
  transition:opacity 1s linear;
  display:flex;
}
.edit-profile__close-btn:hover {
  cursor:pointer;
  opacity:0.5;
}
@media screen and (max-width:500px) {
  .edit-profile__close-btn {
    width:26px;
    height:26px;
    margin-right:19px;
    margin-bottom:13.62px;
  }
}