@import url(../vendors/normalize.css);
@import url(../vendors/fonts/fonts.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/page/page.css);
@import url(../blocks/places/places.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/main/main.css);
@import url(../blocks/body/body.css);
@import url(../blocks/remove/remove.css);
@import url(../blocks/popup/popup.css);

/* ELEMENTS */

/* popup */
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__close-btn-img/popup__close-btn-img.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save-btn/popup__save-btn.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__error/popup__error.css);

 /* places */
@import url(../blocks/places/__caption/places__caption.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__place/places__place.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__btn/places__btn.css);
@import url(../blocks/places/__like/places__like.css);
@import url(../blocks/places/__trash-btn/places__trash-btn.css);
  /* profile */
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__details/profile__details.css);
@import url(../blocks/profile/__edit-image/profile__edit-image.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__plus-image/profile__plus-image.css);
@import url(../blocks/profile/__name/profile__name.css);
/* footer */
@import url(../blocks/footer/__content/footer__content.css);

/* Modifiers */
  /* popup */
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/popup/__input/_theme/popup__input_theme_error.css);
@import url(../blocks/popup/__save-btn/_disabled/popup__save-btn_disabled.css);
@import url(../blocks/popup/__error/_visible/popup__error_visible.css);
  /*places  */
@import url(../blocks/places/__btn/_active/places__btn_active.css);
