.popup {
  box-sizing:border-box;
  border-radius:2%;
  background-color:rgba(0, 0, 0, 0.5);
  position:fixed;
  top:0;
  left:0;
  height:100%;
  margin:auto;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

 